<div class="container">

  <h1>Publier une annonce</h1>
  <form class="needs-validation" novalidate>
    <div class="card">
      <div class="card-header">
        Itinéraire
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label for="startingAddress" class="col-sm-3 col-form-label">Adresse de départ</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="startingAddress" name="origin">

          </div>
        </div>
        <div class="form-group row">
          <label for="arrivalAddress" class="col-sm-3 col-form-label">Adresse d'arrivée</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="arrivalAddress" name="destination">
          </div>
        </div>
        <div class="form-group row">
          <label for="travelTime" class="col-sm-3 col-form-label">Durée du trajet</label>
          <div class="col-sm-9">
            <input type="text" readonly class="form-control-plaintext" id="travelTime" name="duration">
          </div>
        </div>
        <div class="form-group row">
          <label for="distance" class="col-sm-3 col-form-label">Distance</label>
          <div class="col-sm-9">
            <input type="text" readonly class="form-control-plaintext" id="distance" name="distance">
          </div>
        </div>
      </div>
    </div>

    <div class="card" [formGroup]="vehiculeForm">
      <div class="card-header">
        Véhicule
      </div>
      <div class="card-body">
        <div class="form-group row" [ngClass]="{
          'has-danger': immatriculation.invalid && immatriculation.dirty,
          'has-success': immatriculation.valid && immatriculation.dirty
        }">
          <label for="immatriculation" class="col-sm-3 col-form-label">Immatriculation</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="immatriculation" formControlName="immatriculation">
          </div>
        </div>
        <div class="form-group row">
          <label for="brand" class="col-sm-3 col-form-label">Marque</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="brand" formControlName="brand">
            <div class=" invalid-tooltip" *ngIf="brand.errors && (brand.dirty || brand.touched)">
              La marque est obligatoire.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="model" class="col-sm-3 col-form-label">Modèle</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="model" formControlName="model">
            <div class="invalid-tooltip" *ngIf="model.errors && (model.dirty || model.touched)">
              Le modèle est obligatoire.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="placesAvailable" class="col-sm-3 col-form-label">Places disponibles</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="placesAvailable" formControlName="placesAvailable">
            <div class="invalid-tooltip" *ngIf="placesAvailable.errors && (placesAvailable.dirty || placesAvailable.touched)">
              Le nombre de places doit être compris entre 1 et 20
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" [formGroup]="dateTimeForm">
      <div class="card-header">
        Date et horaire
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label for="date" class="col-sm-2 col-form-label align-self-center">Date</label>
          <div class="col-sm-4 align-self-center">
            <input id="date" required class="form-control"  placeholder="yyyy-mm-dd" name="dp"
                   formControlName="date">
          </div>
          <label for="hour" class="col-sm-2 col-form-label align-self-center">Heure</label>
          <div class="col-sm-4 align-self-center">
          </div>
          <div class="invalid-tooltip" *ngIf="(date.errors || hour.errors) && (hour.dirty || hour.touched || date.dirty || date.touched)">
            La date et l'heure sont obligatoires.
          </div>
          <div class="invalid-tooltip" *ngIf="dateTimeForm.hasError('anterior')">
            La date et l'heure ne peuvent être antérieure à aujourd'hui.
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer text-center">
      <button [disabled]="!validItineraire || dateTimeForm.invalid || vehiculeForm.invalid" class="btn
              btn-primary" (click)="confirmAnnonce()">Publier</button>
    </div>

  </form>
</div>

