<div class="container">

  <h1>Publier une annonce</h1>
  <form class="needs-validation" novalidate>
    <div class="card" [formGroup]="itineraireForm">
      <div class="card-header">
        Itinéraire
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label for="startingAddress" class="col-sm-3 col-form-label">Adresse de départ</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="startingAddress" name="startingAddress" formControlName="startingAddress">
          </div>
        </div>
        <div class="form-group row">
          <label for="arrivalAddress" class="col-sm-3 col-form-label">Adresse d'arrivée</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="arrivalAddress" name="arrivalAddress" formControlName="arrivalAddress">
          </div>
        </div>
      </div>
    </div>

    <div class="card" [formGroup]="vehiculeForm">
      <div class="card-header">
        Véhicule
      </div>
      <div class="card-body">
        <div class="form-group row" [ngClass]="{
          'has-danger': immatriculation.invalid && immatriculation.dirty,
          'has-success': immatriculation.valid && immatriculation.dirty
        }">
          <label for="immatriculation" class="col-sm-3 col-form-label">Immatriculation</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="immatriculation" formControlName="immatriculation">
          </div>
        </div>
        <div class="form-group row">
          <label for="brand" class="col-sm-3 col-form-label">Marque</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="brand" formControlName="brand">
            <div class=" invalid-tooltip" *ngIf="brand.errors && (brand.dirty || brand.touched)">
              La marque est obligatoire.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="model" class="col-sm-3 col-form-label">Modèle</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="model" formControlName="model">
            <div class="invalid-tooltip" *ngIf="model.errors && (model.dirty || model.touched)">
              Le modèle est obligatoire.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="availableSeats" class="col-sm-3 col-form-label">Places disponibles</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="availableSeats" formControlName="availableSeats">
            <div class="invalid-tooltip" *ngIf="availableSeats.errors && (availableSeats.dirty || availableSeats.touched)">
              Le nombre de places doit être compris entre 1 et 20
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" [formGroup]="dateTimeForm">
      <div class="card-header">
        Date et horaire
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label for="date" class="col-sm-2 col-form-label align-self-center">Date</label>
          <div class="col-sm-4 align-self-center">
            <input id="date" required class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date" [(ngModel)]="model"
              ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <img src="./assets/calendar.png" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
              </button>
            </div>
          </div>
          <label for="hour" class="col-sm-2 col-form-label align-self-center">Heure</label>
          <div class="col-sm-4 align-self-center">
            <ngb-timepicker required id="hour" [minuteStep]="10" formControlName="hour"></ngb-timepicker>

            <div class="invalid-tooltip" *ngIf="(date.errors || hour.errors) && (hour.dirty || hour.touched || date.dirty || date.touched)">
              La date et l'heure sont obligatoires.
            </div>
            <div class="invalid-tooltip" *ngIf="dateTimeForm.hasError('anterior')">
              La date et l'heure ne peuvent être antérieure à aujourd'hui.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <button class="btn
              btn-primary" (click)="createCarpoolBooking()" id="publishButton">Publier</button>
    </div>
  </form>
</div>

<app-common-modal #childModal [title]="'Confirmation de votre proposition'">
  <div class="modal-body text-center">
    <app-details-covoiturage [carpoolBooking]="carpoolBooking"></app-details-covoiturage>
  </div>
  <div class="modal-footer">
    <button type="submit">Envoyer</button>
    <button type="button" (click)="this.childModal.hide()">Annuler</button>
  </div>
</app-common-modal>
