<button type="button" class="btn btn-info btn-lg" (click)="openModal(content)">Ouvrir le modal</button>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Choisissez votre profil</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <app-option [nomImage]="'collab.png'" [type]="'Collaborateur'" class="col-4"></app-option>
      <app-option [nomImage]="'chauffeur.png'" [type]="'Chauffeur'" class="col-4" *ngIf="displayDriverOption"></app-option>
      <app-option [nomImage]="'admin.png'" [type]="'Administrateur'" class="col-4" *ngIf="displayAdminOption"></app-option>
    </div>
  </div>
  <div class=" modal-footer ">

  </div>
</ng-template>
