<!-- Button trigger modal -->
<button type="button" class="btn btn-info btn-lg" (click)="openModal()">Ouvrir le modal</button>

<div class="backdrop" [ngStyle]="{'display':display}"></div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title pull-left">Choisissez votre profil</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
