<div class="container">
  <div class="container">
    <img src="../../assets/images/logo_transport_route.png" class="mx-auto d-block">
    <h1 class="text-center">GDT</h1>
    <h3 class="text-center">Gestion du transport</h3>
  </div>

  <form (ngSubmit)="handleConnexion()" [formGroup]="formConnexion">
    <div class="form-group row">
      <label for="login" class="col-3 text-right">Email</label>
      <input type="text" [formControl]="emailCtrl" [(ngModel)]="user.email" class="col-9" placeholder="Nom d'utilisateur" required>
    </div>

    <div class="form-group row">
      <label for="password" class="col-3 text-right">Mot de passe</label>
      <input type="password" [formControl]="passwordCtrl" [(ngModel)]="user.password" class="col-9" placeholder="Mot de passe"
        required>
    </div>

    <div class="form-group row">
      <button type="submit" [disabled]="formConnexion.invalid" class="btn btn-success ml-auto">Se connecter</button>
    </div>

    <div class="invalid-feedback">
      Vos informations d'authentification sont invalides
    </div>
  </form>
</div>
<app-modal-authentification></app-modal-authentification>
