<a href="#"> Retour à la liste</a>

<h1>Réserver un véhicule</h1>





<input type="search" id="address" class="form-control" placeholder="Where are we going?" />


<div class="container">
  <!--Accordion wrapper-->
  <div class="accordion" id="accordionEx">

    <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header" role="tab" id="headingOne">
        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="true"
           aria-controls="collapseOne">
          <h5 class="mb-0">
            Covoiturage <i class="fa fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
           data-parent="#accordionEx">
        <div class="card-body">

        <h3>Critères</h3>
          <div class="row">
            <div class='col-sm-2'>

                <label  > Adresse de départ*</label>
            </div>
            <div class='col-sm-2'>
                <input [(ngModel)]="startingAddressFilter" type="text" class="form-control" id="startingAddressFilter">
            </div>
            <div class='col-sm-2'>

                <label> Adresse de destination*</label>
            </div>
            <div class='col-sm-2'>
                <input [(ngModel)]="arrivalAddressFilter" type="text" class="form-control" id="arrivalAddressFilter">
            </div>
          </div>
          <br>
          <div class="row">
            <div class='col-sm-2'>

                <label> Date de Départ </label>
            </div>
            <div class='col-sm-2'>
                <input class="form-control" type="date">
            </div>
          </div>

          <br>
          <br>
          <table class="table table-sm">

            <tr>
              <th>Date/Heure</th>
              <th>Départ</th>
              <th>Destination</th>
              <th>Vehicule</th>
              <th>Chauffeur</th>
              <th>Place Disponible</th>
              <th></th>
            </tr>
            <tr *ngFor="let booking of ( listCovoiturage | FilterByStartingAddress : startingAddressFilter | FilterByArrivalAddress : arrivalAddressFilter )" >
              <td>{{booking.startDate}}</td>
              <td>{{booking.startingAddress}}</td>
              <td>{{booking.arrivalAddress}}</td>
              <td>{{booking.car.brand}} {{booking.car.model}} </td>
              <td>{{booking.creator.firstName}} {{booking.creator.lastName.toUpperCase()}}</td>
              <td>{{booking.availableSeats}}</td>
              <td><app-modal-confirmation [obj]="booking"></app-modal-confirmation></td>
            </tr>
          </table>
      </div>
    </div>
    </div>
      <!-- Accordion card end -->

<!-- Accordion card -->
<div class="card">

  <!-- Card header -->
  <div class="card-header" role="tab" id="headingTwo">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="false"
       aria-controls="collapseTwo">
      <h5 class="mb-0">
        Voiture de société <i class="fa fa-angle-down rotate-icon"></i>
      </h5>
    </a>
  </div>

  <!-- Card body -->
  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
    <div class="card-body">

    </div>
  </div>
</div>
<!-- Accordion card -->

<!-- Accordion card -->
<div class="card">

  <!-- Card header -->
  <div class="card-header" role="tab" id="headingThree">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree"
       aria-expanded="false" aria-controls="collapseThree">
      <h5 class="mb-0">
        Vehicule avec chauffeur privé<i class="fa fa-angle-down rotate-icon"></i>
      </h5>
    </a>
  </div>

  <!-- Card body -->
  <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
       data-parent="#accordionEx">
    <div class="card-body">

    </div>
  </div>
</div>

</div>
<!-- Accordion card -->

</div>



